/* GENERAL */
html,body {
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 95%;
    margin: auto;
}

/* HEADER */
.header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    margin-left: 10px;
}

.logo img {
    width: 120px;
    height: 50px;
}

/* NAVIGATION */ 
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.navigation a{
    padding: 20px;
    text-decoration: none;
}

.titre {
    margin-left: 30px;
    font-weight: bold;
    font-size: 22px;
}

.lien {
    width: 140px;
    height: 99px;
    border-top: 1px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien:hover {
    border-top: 1px solid #0065fc;
}

.navigation a:hover {
    color: #0065fc;
}

/* BARRE DE RECHERCHE */
.titre {
    margin-left: 0;
}

.barre_recherche {
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: auto;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.barre_recherche input {
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 20px;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px
}

.barre_recherche button {
    background-color: #0065fc;
    height: 50px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.fa-magnifying-glass {
    display: none;
}

/* FILTRES */
.filtre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filtre h2 {
    font-weight: bold;
    font-size: 18px;
    margin-left: 0;
}

.filtre ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 17px;
}

.filtre li {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    border-left: #DEEBFF;
    cursor: pointer;
    padding-right: 2%;
    padding-left: 2%;
}

.filtre a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color:#000000; 
    padding: 0px 12px; 
}

.filtre li:hover {
    background-color: #DEEBFF;
    transition: 0.4s;
}

.blue-icon {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 3 !important;
    position: relative;
    right: 12px;
}


/* INFO */
.info {
    display: flex;
    align-items:center;

}

.fa-info {
    width: 22px;
    height: 22px;
    color: #0065fc;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    margin-left: 15px;
}

/* HEBERGEMENTS */
.page-accommodation {
    margin-top:30px;
    display: flex;
    gap: 30px;
}

.hebergements {
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    border-radius: 20px;
    width: 70%;
}

h2 {
    margin-left: 5%;
}

.carte_hebergements {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 0px 50px 0px;
}

.carte_hebergements_hotel {
    min-width: 170px;
    width: 28%;
    height: 200px;
    background-color:  #ffff;
    border: 4px solid #ffff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dfdfdf;
    line-height: 1.5;
}


.carte_hebergements_hotel img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.info_hebergements {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
    margin-top: -0.5%;
}

.info_hebergements p {
    margin: 0%;
}

 .carte_one:hover,.carte_groupe_1:hover,.carte_groupe_2:hover,.carte_groupe_3:hover,.carte_groupe_4:hover,.carte_hebergements_hotel:hover,.carte_populaires_hotel:hover {
    transform: scale(1.03); 
 }

.info_hebergements p, .info_populaires p {
    font-size: 14px;
}

.afficher_plus {
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 5%;
}

.full {
    color:#0065fc;
    font-size: 12px;
}

.empty {
    color: #d9d9d9;
    font-size: 12px;
}

.star_rating_M {
    display: flex;
    padding-top: 5px;
 }

/* POPULAIRES */
.populaires {
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
}

.populaires h2 {
    display: flex;
    justify-content: space-around;
}

.carte_populaires {
    display:flex;
    flex-direction:column;
    align-items: center;
    row-gap:12px;
    padding-top: 30px;
}

.carte_populaires_hotel {
    width: 85%;
    height: 140px;
    background-color:  #ffff;
    border: 5px solid #ffff;
    border-radius: 20px;
    margin-bottom:25px;
    box-shadow: 1px 1px 10px #dfdfdf;
    
} 

.carte_populaires_hotel a {
    display: flex;
    height: 100%;
}

.carte_populaires_hotel img {
    width: 30%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    flex-shrink:0;
}

.info_populaires {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    margin-left: 2%;
}

.info_populaires p {
    margin-top: 0%;
}

.star_rating_P {
    display: flex;
    padding-top: 35px;
 }

/* ACTVITES */ 
.activites {
    margin-top: 50px;
    margin-bottom: 50px;
}

.activites h2 {
    margin-left: 30px;
    font-weight: bold;
}

.activites h3 {
    text-decoration: none;
}

.carte_activites {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 30px;
}

.carte_activites h3 {
   padding: 6%;  
}

.carte_activites img {
   width: 100%;
   border-radius: 25px 25px 0px 0px;
   box-shadow: 1px 1px 10px #dfdfdf;
}

.carte_one { 
   width: 23%;
   background-color:  #ffff;
   box-shadow: 1px 1px 10px #dfdfdf;
   border-radius: 25px; 
}

.carte_groupe {
   width: 23%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.carte_groupe_1,.carte_groupe_2,.carte_groupe_3,.carte_groupe_4 {
   background-color:  #ffff;
   box-shadow: 1px 1px 10px #dfdfdf;
   border-radius: 25px 25px 25px 25px; 
}

.carte_one img {
   height: 380px;
   
}

.carte_groupe_1 img {  
   height: 180px;
}

.carte_groupe_2 img {
   height: 100px;
}

.carte_groupe_3 img {
   height: 130px;
}

.carte_groupe_4 img {
   height: 140px;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    padding-top: 40px;
}
  
.liste-footer {
    width: 30%;
    margin-left: 7%;
}

.liste-footer ul {
    list-style-type: none;
    padding: 0;
}
  
footer h4 {
    font-weight: 900;
    font-size: 119%;
    line-height: 50px;
}

footer a {
    text-decoration: none;
    line-height: 30px;
    color: rgb(59, 59, 59);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .logo {
        margin-left: 5%;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0%;
        height: 200px;
    }

    .header img {
        width: auto;
        height: auto;
        margin: 0;
    }

    .lien {
        width: 50%;
        border-bottom: 1px solid #f2f2f2;
        position: relative;
        left: 2.5%;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .lien:hover {
        border-top: none;
        border-bottom: 1px solid #0065fc;
    }

    .recherche_general {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
    }

   .sous_titre {
    margin-top: 0%;
    margin-bottom: 5%;
   }

   .barre_recherche {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   }

   .barre_recherche input {
    width: 80%;
    display: flex;
   }

   .barre_recherche button {
    width: 10%;
    border-radius: 10px;
    width: 50px;
   }

   .barre_recherche span {
    display: none;
   }

   .fa-magnifying-glass {
    display: block;
    color: white;
   }

   .filtre {
    margin: auto;
    width: 95%;
   }

   .filtre ul {
    margin-left: 0%;
    padding: 0%;
   }

   .filtre h2 {
    margin-top: 5%;
   }

   .info {
    width: 95%;
    margin: auto;
   }

   .page-accommodation {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
   }

   .carte_hebergements_hotel {
    height: 190px;
   }

   .populaires {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    padding: 0;
    margin: 0;
   }

   .populaires h2 {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
   }

   .carte_populaires {
    padding: 20px 0px 0px 0px;
   }

   .carte_populaires_hotel {
    height: 170px;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
   }

   .hebergements {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
   }

   .hebergements h2 {
    margin-left: 5%;
   }

   .carte_hebergements {
    margin: 0;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .carte_hebergements_hotel {
    width: 85%;
    padding-left: 0%;
    padding-right: 0%;
    height: 200px;
   }

   .carte_hebergements_hotel img {
    height: 130px;
   }

   .afficher_plus {
    margin-left: 5%;
    margin-top: 5%;
   }

   .activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
   }

   .carte_activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 20px;

    width: 100%;
   }

   .container_image {
    height: 200px;
   }

   .carte_activites img {
    object-fit: cover;
    height: 150px;
   }

   .container_image h3 {
    margin: 2% 0 0 2%;
    max-height: 50px;
    min-height: 40px;
    padding: 0;
   }

   .carte_one {
    width: 85%;
    margin-bottom: 34px;
   }

   .carte_groupe {
    width: 85%;
    margin-bottom: 34px;
    gap: 34px;
   }

   .footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;
   }

   .liste-footer {
    width: 90%;
   }
}

/* TABLETTE */ 

@media screen and (max-width: 992px) and (min-width: 769px) {
    .container {
        width: 95%;
        margin: auto;
    }

    .page-accommodation {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    }

    .hebergements {
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .carte_hebergements {
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
        padding-bottom: 5%;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .carte_hebergements_hotel {
        width: 43%;
        height: 190px;
    }

    .afficher_plus {
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .populaires {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .populaires h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 10%;
    }

    .carte_populaires {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .carte_populaires_hotel {
        width: 86%;
        min-height: 170px;
    }

    .footer {
        padding-left: 5%;
        padding-top: 0;
        justify-content: space-around;
    }

    .liste-footer {
        padding: 0;
        margin: 0;
        width: 30%;
        justify-content: center;
    }

    .liste-footer ul {
        margin: 0;
        padding-left: 5%;
    }

    .liste-footer h4 {
        padding-left: 5%;
    }
}

