/* GENERAL */

html,body {
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: #000000;
}

/* HEADER */

.header {
    margin-left: 30px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    margin-left: 10px;
}

.logo img {
    width: 120px;
    height: 50px;
}

/* NAVIGATION */ 

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 30px;
}

.navigation a{
    padding: 20px;
    text-decoration: none;
}

.titre {
    margin-left: 30px;
    font-weight: bold;
    font-size: 22px;
}

.lien {
    width: 140px;
    height: 99px;
    border-top: 1px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien:hover {
    border-top: 1px solid #0065fc;
}

.navigation a:hover {
    color: #0065fc;
}

/* SEARCH BOX */

.sous_titre {
    margin-left: 30px;
}

.barre_recherche {
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 30px;
}

.barre_recherche input {
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 20px;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px
}

.barre_recherche button {
    background-color: #0065fc;
    height: 50px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* FILTER */

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    gap: 10px;
}

.filter h2 {
    font-weight: bold;
    font-size: 18px;
}

.filter ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 17px;
}

.filter li {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    border-left: #DEEBFF;  
}

.filter a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color:#000000; 
    padding: 0px 12px; 
}

.filter li:hover {
    background-color: #DEEBFF;
}

.blue-icon {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 3 !important;
}


/* INFO */

.info {
    display: flex;
    align-items:center;
    margin-left: 30px;
}

.fa-info {
    width: 22px;
    height: 22px;
    color: #0065fc;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    margin-left: 15px;
}

/* HEBERGEMENTS */

#page-accommodation {
    margin-top:30px;
    display: flex;
    gap: 45px;
}

.accommodation_Marseille {
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    border-radius: 20px;
    width: 67%;
    padding: 40px;
    margin-left: 30px;
}

.card_accommodation_Marseille {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px 0px 50px 0px;
}

.card_hotel {
    min-width: 200px;
    width: 30%;
    height: 190px;
    background-color:  #ffff;
    border: 4px solid #ffff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dfdfdf;
    line-height: 1.5;
}


.card_hotel img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card_body_hotel {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
    margin-top: -0.5%;
}

.card_body_hotel p {
    margin: 0%;
}

 .card_one:hover,.card_group_1:hover,.card_group_2:hover,.card_group_3:hover,.card_group_4:hover,.card_hotel:hover,.card_populars_hotels:hover {
    transform: scale(1.03); 
 }

.card_body_hotel p, .card_populars_hotels p {
    font-size: 14px;
}

.link_show_more {
    text-decoration: none;
    color:#000000;
    font-size: 18px;
    font-weight: bold;
}

.full {
    color:#0065fc;
    font-size: 12px;
}

.empty {
    color: #d9d9d9;
    font-size: 12px;
}

.star_rating_M {
    display: flex;
    padding-top: 5px;
 }

/*the most populars*/

.page_populars {
    background-color: #F2F2F2;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    width: 33%;
    min-width: 350px;
    padding: 40px 40px 0px 40px;
    margin-right: 30px;
}

.page_populars h2 {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}

.card_populars {
    display:flex;
    flex-direction:column;
    padding-top: 30px;
    row-gap:12px;
}

.card_populars_hotels {
    min-width: 280px;
    height: 140px;
    background-color:  #ffff;
    border: 5px solid #ffff;
    border-radius: 20px;
    margin-bottom:25px;
    box-shadow: 1px 1px 10px #dfdfdf;
    
}

.card_populars_hotels a {
    display: flex;
    height: 100%;
}

.card_populars_hotels img {
    width: 30%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    flex-shrink:0;
}

.card_body_populars_hotels {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    margin-left: 2%;
}

.card_body_populars_hotels p {
    margin-top: 0%;
}

.star_rating_P {
    display: flex;
    padding-top: 35px;
 }

/* ACTVITES */ 

.activites {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.activites h2 {
    margin-left: 30px;
    font-weight: bold;
    
}

.activites h3 {
    text-decoration: none;
}

.carte_activites {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;  
   margin-top:30px;
}

.carte_activites h3 {
   padding: 6%;  
}

.carte_activites img {
   width: 100%;
   border-radius: 25px 25px 0px 0px;
   box-shadow: 1px 1px 10px #dfdfdf;
}

.carte_one { 
   width: 23%;
   background-color:  #ffff;
   box-shadow: 1px 1px 10px #dfdfdf;
   border-radius: 25px; 
}

.carte_groupe {
   width: 23%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;    
}

.carte_groupe_1,.carte_groupe_2,.carte_groupe_3,.carte_groupe_4 {
   background-color:  #ffff;
   box-shadow: 1px 1px 10px #dfdfdf;
   border-radius: 25px 25px 25px 25px; 
}

.carte_one img {
   height: 380px;
   
}

.carte_groupe_1 img {  
   height: 180px;
}

.carte_groupe_2 img {
   height: 100px;
}

.carte_groupe_3 img {
   height: 130px;
}

.carte_groupe_4 img {
   height: 140px;
}

/* FOOTER */

.footer {
    width: 100%;
    background: #F2F2F2;
    height: 300px;
    display: flex;
    padding-top: 40px;
    margin-left: 0;
}
  
.liste-footer {
    flex: 1;
    margin-left: 40px;
}
  
footer h4 {
    font-weight: 900;
    font-size: 119%;
    line-height: 50px;
}

footer a {
    text-decoration: none;
    line-height: 30px;
    color: rgb(59, 59, 59);
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0%;
    }

    .lien {
        width: 100%;
    }
}