/* GENERAL */

html,body {
    font-family: Raleway;
}

.Page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* HEADER */

.Header {
    display: flex;
    flex-basis: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

/* NAVIGATION */ 

.Navigation {
    display: flex;
    align-items: center;
}

.Navigation a{
    padding: 20px;
}

/* SEARCH BOX */

.search-box {
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: auto;
}

.size-icons {
    height: 50px;
    width: 50px;
}

/* HEBERGEMENTS */

.Main_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Hebergements {
    height: 650px;
    background-color: #f2f2f2;
    width: 65%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.Carte_hebergement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: yellow;
    height: 150px;
    margin-left: 20px;
}

/* POPULAIRES */

.Populaires {
    height: 650px;
    background-color: blue;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.Carte_populaire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150px;
    background-color: yellow;
    margin-left: 30px;
}

/* ACTVITES */ 

.Activités {
    flex-basis: 100%;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */

.Footer{
    width: 100%;
    background: #F2F2F2;
    height: 300px;
    display: flex;
    padding-top: 40px;
    margin-left: 0;
}
  
.liste-footer{
    flex: 1;
    margin-left: 40px;
}
  
footer h4{
    font-weight: 900;
    font-size: 119%;
    line-height: 50px;
}

footer a{
    line-height: 30px;
    color: rgb(59, 59, 59);
}